pre,h1,h2,h3,h4,h5,h6,p,div {
    font-family: monospace;
    color: white;
    margin: 0;
}

body {
    font-size: calc(.8rem + .5vw);
    background-color: #121212;
}


.metadata-wrapper {
    background-color: lightskyblue;
    padding: 1rem;
    border-radius: 1rem;
}
.metadata {
    padding: 1rem;
    
}
