pre,body,h1,h3,h4,h5,h6,p,div {
    font-family: monospace;
    color: white;
    margin: 0;
}

body {
    font-size: calc(.8rem + .5vw);
    background-color: #121212;
}


#main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100vw;
    align-items: center;
}


#radioplayer_wrapper {
    display: flex;
    border-radius: 1rem;
    background-color: #292929;
    min-height: auto;
    padding: 1rem;
    grid-auto-flow: row;
    gap: 1rem;
    max-width: 100%;
    overflow: hidden;
}

#albumcover {
    border-radius: 1rem;
    max-width: 200px;
}

#radioplayer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#radioplayer_wrapper > * {
    margin: 0;
}

#radioplayer > audio {
    margin: 1rem 0 0 0;
}

.info {
    margin: 0;
}

.info > h2 {
    margin: 0;
}

#title {
    margin-top: 20px;
}

.card {
    border-radius: 1rem;
    background-color: #1e1e1e;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    gap: 1rem;
    width: 50vw;
}

#play\/pause, #volUp, #volDown{
    text-align: center;
    line-height: 65px;
	background: #373737;
	color: inherit;
	border: none;
	padding: 0.2rem;
    border-radius: 0.3rem;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

@media screen and (max-width: 700px) {
    #radioplayer_wrapper {
        flex-direction: column;
        align-items: center;
        font-size: 0.9rem;
        text-align: center;
        justify-content: center;
    }
    .card {
        width: 300px;
    }
}

#foot {
    margin-bottom: 20px;
}
