<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link rel="stylesheet" href="static/style.css">
</head>
    <body>
        <h2>summering</h2>
        <h3>welcome!</h3>
        <hr>

        <p>
welcome to summering.org! 
this is a pretty <b>awesome</b> site if you haven't already realized.</p><hr>

        <h3>our radio! (should use built in audio player)</h3>
        <audio controls>
            <source src="/audio_stream" type="audio/ogg">
        </audio>
        <hr>

        <h3>about us</h3>
        <p>
<b>Stephen -></b>
I paint houses and code.</p>

        <p>
<b>Dexah -></b>
  Hi, I'm Dexah (or Dexter) and i like coding! I'm 11 and this is my dad and I's site!</p>

    </body>
</html>
