{% include "header.html" %}
            <div id="main">


                <div class="card">
                    <p>welcome to summering.org! this is a pretty <b>awesome</b> site if you haven't already realized.</p>
                </div>
                <div class="card">
                    <h2>our radio</h2>
                    <div id="radioplayer_wrapper">
                        <div class="cover_wrapper"><img src="../static/images/PLACEHOLDER.webp" id="albumcover"></div>
                        
                        <div id="radioplayer">
                            
                            <div class="info">
                                <h2 id="Title">No title</h2>
                                <p id="Artist">No artist</p>
                                <p id="Album">from No album</p>
                            </div>
                            <audio id="player">
                                <source id="streamSRC" src="{{ url_for('Audio_Stream') }}" type="audio/mp3" preload="auto">
                            </audio> 
                            <div id="controls">
                                <button id="play/pause"><span class="material-symbols-outlined">
                                    play_arrow
                                    </span></button>
                                <button id="volDown"><span class="material-symbols-outlined">
                                    volume_down
                                    </span></button>
                                <button id="volUp"><span class="material-symbols-outlined">
                                    volume_up
                                    </span></button>
                            </div>
                        </div>
                        <script src="../static/radio.js"></script>
                    </div>
                </div>  
            </div>
            {% include "footer.html" %}